@font-face {
  font-family: "clash display";
  src: url(../font/ClashDisplay-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #7620c2;
  --text-color: #ffffff;
  --background-color: #0b022d;
  --navbar-background: rgba(255, 255, 255, 0.1);
  --banner-bckground-color: #00000080;
  --scroll-btn: #ffffff33;
  --image-background-color: #000000;
  --crd-color: #100628;
  --circle-color: #342b48;
  --small-cicrcle-color: #79c1e2;
  --second-cicrle-color: #cc9cc2;
   --modal-color:#051747;
    --btn-color:#053245;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
body {
  font-family: "clash display", sans-serif;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
ul {
  list-style-type: none;
}
[data-aos] {
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
}
[data-aos] {
  transition-property: transform, opacity;
  transition-duration: 1s;
}
[data-aos="fade-up"] {
  transform: translateY(40px);
  opacity: 0;
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
[data-aos] {
  transition-timing-function: ease-out;
}
.us-row {
  align-items: center !important;
}
.col-22 {
  width: 22.4%;
  padding: 0 15px;
}
.col-33 {
  width: 32.8%;
  padding: 0 15px;
}
.container {
  max-width: 1650px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title1 {
  font-size: 70.73px;
  font-weight: 600;
  text-transform: capitalize;
}
.title2 {
  font-size: 68px;
  font-weight: 500;
}
.title3 {
  font-size: 64px;
  font-weight: 500;
}
.title4 {
  font-size: 24px;
  font-weight: 500;
}
.title5 {
  font-size: 128px;
  font-weight: 500;
}
/* nav-sec */
.header-sec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.nav-logo {
  max-width: 151.8px;
}
.nav-logo > a {
  width: 100%;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav {
  margin: 0 auto;
}
.nav-item {
  margin: 0 27px;
}
.nav-link {
  padding: 0 26.4px !important;
  font-size: 22px !important;
  font-weight: 500;
  color: var(--text-color) !important;
  position: relative;
  transition: color 0.25s ease;
}
.nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--primary-color) !important;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.6s ease, left 0.6s ease, right 0.6s ease;
}
.nav-link::before {
  content: "";
  height: 2px;
  width: 0;
  background: var(--primary-color);
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: all 0.6s ease, left 0.6s ease, right 0.6s ease;
}
.nav-link:hover::after {
  transition: 0.2s all linear;
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  box-shadow: 0 0 8px var(--primary-color), 0 0 12px var(--primary-color);
  right: 50%;
  transform: translateX(50%);
  transition-delay: 0.9s;
  width: 100%;
}
.nav-link:hover::before {
  display: block;
  transition: 0.2s all linear;
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  box-shadow: 0 0 8px var(--primary-color), 0 0 12px var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition-delay: 0.6s;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.primary-btn {
  font-size: 29px;
  font-weight: 500;
  margin-right: 37px;
  max-width: 77px;
  color: var(--text-color);
  border: none !important;
  background: none !important;
}
.secondary-btn {
  padding: 15.5px 33.5px;
  border-radius: 30px;
  font-size: 29px;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--text-color);
  transition: 0.2s ease-in-out;
  border: none !important;
}
.secondary-btn:hover {
  background: var(--text-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}
.offcanvas {
  flex-direction: row;
  align-items: center;
  background-color: none;
}
nav {
  background: var(--navbar-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 44px;
  padding: 22px 0;
  overflow: hidden;
  width: 100%;
}
.offcanvas-backdrop {
  background: transparent !important;
}
.modal {
  z-index: 999999 !important;
}
.modal-content{
   max-width: 482px !important;
  height: 800px !important;
  background: var(--modal-color);
  color: var(--text-color);
  text-align: center;
  padding: 17px 22px;
}
.modal-cont{
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.modal-body{
  height: 46px !important;
  flex:  none !important;
  max-width: 300px !important;
  overflow:  visible !important;
  margin: 29px 0;
}
.modal-header{
  border:  none !important;
}
.modal-title{
  font-size: 30px !important;
  font-weight: 600 !important;
}
.modal-sub{
  font-size: 18px !important;
}
.modal-footer{
  border: none !important;
}
.modal-backdrop {
  z-index: 99999 !important;
}
.login-btn{
  padding: 16px 29px;
  background: var(--text-color);
  color: var(--modal-color);
  position: relative;
  overflow: hidden;
  z-index: 2;
  border: none !important;
}
.login-btn::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: var(--modal-color);
  transition: 0.4s all linear;
  z-index: 1;
  background: var(--primary-color);
}
.btn-close{
 color: var(--text-color) !important;
 /* position: absolute;
 bottom: 100%;
 right: 10px; */
}
.modal-logo{
  max-width: 151.8px;
  margin-right: auto;
}
.modal-logo>a{
  width: 100%;
}
.modal-logo>a>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal-close{
 display: flex;
}
.login-btn>span{
  position: relative;
  z-index: 2;
}
.btn:hover{
  background: none !important;
  color: var(--text-color);
}
.login-btn:hover::before{
  left: 0;
} 
body.modal-open {
  overflow-y: hidden !important;
}
.modal-img{
  width: 58px;
}
.modal-img>a>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-control{
  border: none !important;
  outline: none !important;
}
.modal-box{
  background: var(--primary-color);
}
.Sing-btn{
  background:var(--btn-color) !important ;
  border-radius: 37px !important;
  position: relative;
  overflow: hidden;
  z-index: 2;
  padding: 16px 29px;
  color: var(--text-color);
  border: none;
  outline: none;
}
.Sing-btn::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: var(--text-color);
  z-index: 1;
  color: var(--btn-color);
  transition: 0.4s all linear;
}
.Sing-btn>span{
  position: relative;
  z-index: 2;
}
.Sing-btn:hover::before{
  left: 0;
}
.modal-sing-btn:hover{
  color: var(--btn-color);
}
.input-group{
  outline: 1px solid var(--text-color);
  border-radius: 7px;
  max-width: 392px;
}
.log-btn:hover{
  color: var(--text-color) !important;
}
.btn-close{
 margin-left: auto;
}
/* banner-sec */
.banner-sec {
  background: url(../image4/banner-shape\ 1.png) no-repeat center/contain;
  min-height: 120vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container {
 margin-top: 100px;
}
.banner-cont > .title1 {
  text-align: center;
  background: linear-gradient(90deg, #0a0a8f 45%, #3aa8ff 50%, #aee3ff 60%, #ffffff 100%);
  color: transparent;
  background-clip: text;;
}
.banner-cont > p {
  font-size: 20px;
  max-width: 651px;
  color: var(--text-color);
  margin: 70px auto 70px;
}
.home-btn {
  padding: 15.18px 30.35px;
  background: var(--background-color);
  color: var(--text-color);
  outline: 1px solid var(--text-color);
  border-radius: 45.53px;
}
.home-btn:hover {
  background: var(--text-color);
  color: var(--background-color);
  outline: 1px solid var(--background-color);
}
.banner-btn {
  text-align: center;
}
/* slider-sec */
.slider-sec {
  background: var(--background-color);
}
.button-cont {
  text-align: center;
}
.btn {
  padding: 12.26px 25.75px;
  border-radius: 20px;
  color: var(--text-color);
  margin: 0 32px;
}
.btn:hover {
  background: var(--primary-color);
  color: var(--text-color);
}
.card {
  max-width: 800px;
  border-radius: 10px;
  background: var(--crd-color);
  outline: 1px solid var(--text-color);
}
.card-img {
  max-width: 800px;
  border-radius: 10px;
}
.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-body {
  color: var(--text-color);
}
.card-icon {
  color: var(--text-color);
  margin-right: 54px;
}
.card-btn {
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}
.card-title {
  font-size: 24px;
}
.card-btn:hover {
  margin: 0 !important;
  color: var(--primary-color);
}
.card-text {
  max-width: 504px;
  font-size: 19.73px;
  font-weight: 300;
}
.buttons button {
  margin-right: 8px;
  cursor: pointer;
}

.grid {
  width: 100%;
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  border-radius: 10px;
   width: 49%;
  padding: 0 15px;
  margin: 10px  auto ;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}
.filter-btn.active {
  background: var(--primary-color);
  color: #fff;
}
/* footer-sec */
.footer-sec {
  background: linear-gradient(
    90deg,
    #9328f2 0%,
    #5a4d75 20%,
    /* lighter left */ #342b48 40%,
    /* dark center */ #5a4d75 100% /* lighter right */
  );
  padding: 26px 0;
}
.footer-logo {
  max-width: 151px;
}
.footer-logo > a {
  width: 100%;
}
.footer-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-cont > p {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  margin: 42px 0;
}
.footer-main-cont > p {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  margin: 42px 0;
}
.footer-main-cont {
  max-width: 349px;
}
.footer-main-cont > ul {
  display: flex;
  padding: 0;
}
.footer-main-cont > ul > li {
  margin-right: 29px;
  text-align: left;
}
.social-link {
  width: 24px;
  transition: 0.6s all linear;
}
.social-link:hover {
  transform: translate(0, -10px);
}
.social-link > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-sub-cont > ul {
  padding: 0;
}
.footer-header {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 12px;
}
.footer-sub-cont > ul > li {
  margin-bottom: 8px;
}
.footer-link {
  color: var(--text-color);
  display: flex;
}
.footer-link:hover {
  color: var(--primary-color);
}
.footer-icon {
  margin-right: 17px;
}
.email {
  max-width: 352px;
  padding-right: 100px;
  padding-left: 20px;
  height: 56px;
  border: none !important;
  outline: 1px solid var(--text-color) !important;
  border-radius: 30px;
  background: transparent;
}
.footer-form {
  position: relative;
}
.footer-link-header{
  max-width: 103px;
  margin: 0 auto;
}
.footer-link-cont>ul>li{
  max-width: 150px;
  margin: 0 auto;
}
.footer-link-cont>ul>{
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-icon {
  width: 45px;
  position: absolute;
  left: 71%;
  top: 8%;
}
.email::placeholder {
  color: var(--text-color);
}
.email-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkbox-cont {
  display: flex;
}
.checkbox-cont > p {
  margin: 0;
  margin-left: 11px;
  color: var(--text-color);
  align-items: center;
}
#checkbox {
  background: transparent !important;
}
.top-btn {
  width: 84px;
  height: 84px;
  border-radius: 42px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.4rem;
  margin: 95px 0 95px auto;
}
.top-btn:hover {
  background: var(--text-color);
  color: var(--primary-color);
}

.footer-line {
  max-width: 1620px;
  border-top: 1px solid var(--text-color);
  text-align: center;
}
.footer-line > p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}
@media screen and (max-width: 1600px) {
  .nav-link {
    padding: 0 13.1px !important;
  }
  .nav-item {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1400px) {
  .nav-item {
    margin: 0 16px;
  }
  .primary-btn {
    font-size: 25px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .secondary-btn {
    font-size: 25px;
    padding: 15px 30px;
  }
  .circle-slider {
    width: 364px;
    height: 364px;
    border-radius: 182px;
  }
  .inner-circle {
    width: 238px;
    height: 238px;
    border-radius: 119px;
  }
  .small-circle {
    height: 170px;
    width: 170px;
    border-radius: 85px;
  }
  .nav-logo {
    /* max-width: 145px; */
  }
  .title1 {
    /* font-size: 62px; */
  }
  .customer-cont > p {
    font-size: 18px;
  }
  .banner-cont > p {
    font-size: 16px;
  }
  .title2 {
    font-size: 50px;
  }
  .email-icon {
    left: 79%;
  }
  .about-cont {
    margin: 0 auto;
  }
  .about-img {
    margin: 10px auto;
  }
  .email{
    max-width: 300px;
  }
}
@media screen and (max-width:1300px){
  .work-header>.title4::before{
    right: 66%;
  }
  .email{
    max-width: 280px;
  }
}
@media screen and (max-width: 1199px) {
  .offcanvas {
    background: var(--background-color) !important;
    flex-direction: column;
  }
  .offcanvas > ul {
    flex-direction: column;
  }
  .email-icon {
    left: 71%;
  }
  .nav-btn {
    display: flex;
    flex-direction: column;
  }
  .banner-container{
    margin-bottom: 400px;
  }
  .nav-item {
    margin: 0 auto 10px;
  }
  .primary-btn {
    margin: 0 auto 10px;
  }
  .navbar-toggler {
    background: var(--text-color);
  }
  nav {
    background: none;
    backdrop-filter: none;
    border-radius: 0;
    padding: 0;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
  }
  .footer-cont {
    margin: 0 auto;
    max-width: 103px;
  }
  .footer-main-cont {
    margin: 0 auto;
  }
  .footer-sub-cont {
    max-width: 353px;
    margin: 0 auto;
  }
  .our-card {
    margin: 0 auto 10px;
  }
  .card {
    margin: 0 auto 15px;
  }
  .statistics-header {
    margin: 0 auto;
  }
  .statistics-cont {
    max-width: 550px;
    margin: 0 auto;
  }
  .work-sec .title2 {
    font-size: 34px;
  }

  .work-sec p {
    font-size: 17px;
  }
  .work-header > .title4::before {
    right: 60%;
    top: 50%;
    transform: translate(8px, -60%);
  }
  .build-img {
    margin: 0 auto;
  }
  .build-cont {
    margin: 0 auto;
    text-align: center;
  }
  .build-cont > .title5 {
    text-align: center;
  }
  .about-cont {
    text-align: center;
  }
  .about-cont > .title4::before {
    right: 58%;
  }
  .title2 {
    font-size: 45px;
  }
  .statistics-header {
    text-align: center;
  }
  .statistics-header > .title4::before {
    right: 60%;
  }
  .offcanvas-header {
    color: var(--primary-color);
  }
  .title1 {
    font-size: 60px;
  }
  .banner-cont > p {
    font-size: 17px;
  }
   .footer-link-cont>ul>li{
    margin: 0;
   }
   .footer-link-header{
    margin: 0;
   }
   .banner-cont{
    text-align: center;
   }
   .email-icon{
    left: 66%;
   }
    .primary-btn{
    padding: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .email-icon {
    left: 66%;
  }
  .grid-item{
    width: 100%;
  }
  .banner-cont{
    text-align: center;
  }
  .banner-container{
    top: 30%;
  }
  .grid-item{
    margin: 2%;
  }
}
@media screen and (max-width: 880px) {
 
}
@media screen and (max-width: 768px) {
  .email-icon {
    left: 71%;
  }
  .blog-card {
    width: 100%;
  }
  .footer-sub-cont{
    text-align: center;
  }
  .footer-link{
   display: flex;
   justify-content: center;
  }
  .footer-logo{
    margin: 0 auto;
  }
  .footer-main-cont>ul{
    display: flex;
    justify-content: center;
  }
  .footer-main-cont>p{
    text-align: center;
  }
  .checkbox-cont{
    justify-content: center;
  }
  .banner-container{
    margin-bottom: 500px;
  }
  .footer-link-header{
    margin: 0 auto;
  }
  .footer-link-cont>ul>li{
    margin: 0 auto;
  }
}
@media screen and (max-width:576px){
   .modal-content{
    height: 500px !important;
  }
  .modal-cont{
    margin-top: 50px;
  }
}