@font-face {
  font-family: "clash display";
  src: url(../font/ClashDisplay-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #7620c2;
  --text-color: #ffffff;
  --background-color: #0b022d;
  --navbar-background: rgba(255, 255, 255, 0.1);
  --banner-bckground-color: #00000080;
  --scroll-btn: #ffffff33;
  --image-background-color: #000000;
  --crd-color: #100628;
  --circle-color: #342b48;
  --small-cicrcle-color: #79c1e2;
  --second-cicrle-color: #cc9cc2;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
body {
  font-family: "clash display", sans-serif;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
ul {
  list-style-type: none;
}
.us-row {
  align-items: center !important;
}
.col-22 {
  width: 22.4%;
  padding: 0 15px;
}
.col-33 {
  width: 32.8%;
  padding: 0 15px;
}
.container {
  max-width: 1650px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title1 {
  font-size: 70.73px;
  font-weight: 600;
  text-transform: capitalize;
}
.title2 {
  font-size: 68px;
  font-weight: 500;
}
.title3 {
  font-size: 64px;
  font-weight: 500;
}
.title4 {
  font-size: 24px;
  font-weight: 500;
}
.title5 {
  font-size: 128px;
  font-weight: 500;
}
/* nav-sec */
.header-sec {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
}
.nav-logo {
  max-width: 151.8px;
}
.nav-logo > a {
  width: 100%;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav {
  margin: 0 auto;
}
.nav-item {
  margin: 0 27px;
}
.nav-link {
  padding: 0 26.4px !important;
  font-size: 22px !important;
  font-weight: 500;
  color: var(--text-color) !important;
  position: relative;
  transition: color 0.25s ease;
}
.nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--primary-color) !important;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.6s ease, left 0.6s ease, right 0.6s ease;
}
.nav-link::before {
  content: "";
  height: 2px;
  width: 0;
  background: var(--primary-color);
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: all 0.6s ease, left 0.6s ease, right 0.6s ease;
}
.nav-link:hover::after {
  transition: 0.2s all linear;
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  box-shadow: 0 0 8px var(--primary-color), 0 0 12px var(--primary-color);
  right: 50%;
  transform: translateX(50%);
  transition-delay: 0.9s;
  width: 100%;
}
.nav-link:hover::before {
  display: block;
  transition: 0.2s all linear;
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
  box-shadow: 0 0 8px var(--primary-color), 0 0 12px var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition-delay: 0.6s;
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.primary-btn {
  font-size: 29px;
  font-weight: 500;
  margin-right: 37px;
  max-width: 77px;
  color: var(--text-color);
}
.secondary-btn {
  padding: 15.5px 33.5px;
  border-radius: 30px;
  font-size: 29px;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}
.secondary-btn:hover {
  background: var(--text-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}
.offcanvas {
  flex-direction: row;
  align-items: center;
  background-color: none;
}
nav {
  background: var(--navbar-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 44px;
  padding: 22px 0;
  overflow: hidden;
  width: 100%;
}
.offcanvas-backdrop {
  background: transparent !important;
}
/* banner-sec */
.banner-sec{
    background: url(../image5/background5.png)no-repeat center/cover;
    min-height: 100vh;
    background-color: var(--background-color);
}
.banner-container{
    position: absolute;
    top: 50%;
   transform: translateY(-50%);
   overflow: hidden;
   width: 100%;
}
.banner-cont>.title1{
    color: var(--text-color);
}
.banner-cont>p{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    margin: 68px 0;
}
.home-btn{
    padding: 15.18px 35.53px;
    background: var(--background-color);
    outline: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 19.72px;
    font-weight: 500;
    border-radius: 45.53px;
}
.home-btn:hover{
    background: var(--text-color);
    color: var(--background-color);
    outline: 1px solid var(--background-color);
}
/* our-sec */
.our-sec{
  background: var(--background-color);
  padding: 178px 0;
}
.our-cont{
  text-align: center;
  margin-bottom: 33px;
}
.our-cont>.title3{
  color: var(--text-color);
}
.our-cont>.title4{
  color: var(--text-color);
  margin-bottom: 52px;
}
.card{
  background: var(--background-color);
  max-width: 522px;
  min-height: 229px;
  border-radius: 34px;
  outline: 1px solid var(--text-color);
  margin: 0 auto;
}
.card-body{
  display: flex;
  align-items: center;
}
.card-cont{
  max-width: 321px;
}
.card-icon{
  width: 60px;
  margin-right: 40px;
}
.card-icon>a{
  width: 100%;
}
.card-icon>a>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-title{
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}
.card-text{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
}
/* form-sec */
.form-sec{
  background: var(--background-color);
}
.form-header{
  text-align: center;
  color: var(--text-color);
}
.form-item{
  padding: 29px 238px 29px 47px;
  border-radius: 140px;
  outline: none;
  border: none;
  background: var(--crd-color);
  cursor: text;
}
.form-text{
  padding: 29px 47px 99px;
  width: 1620px;
  border-radius: 26px;
  border: none;
  outline: none;
  background: var(--crd-color);
  margin: 136px 0;
}
.form-item::placeholder{
  color: var(--text-color);
}
.form-text::placeholder{
  color: var(--text-color);
}
.form-btn{
  text-align: center;
}
.send-btn{
  padding: 28px 80px;
  border-radius: 30px;
  background: var(--primary-color);
  color: var(--text-color);
}
.send-btn:hover{
  background: var(--text-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}
/* media-quarry */
@media screen and (max-width: 1600px) {
  .nav-link {
    padding: 0 13.1px !important;
  }
  .nav-item {
    margin: 0 20px;
  }
  .form-text{
    width: 1470px;
    margin: 136px auto;
  }
}
@media screen and (max-width:1500px){
  .form-item{
    padding: 29px 200px 29px 47px;
  }
  .form-text{
    width: 1350px;
  }
}
@media screen and (max-width: 1400px) {
  .nav-item {
    margin: 0 16px;
  }
  .primary-btn {
    font-size: 25px;
  }
  .nav-link {
    font-size: 18px !important;
  }
  .secondary-btn {
    font-size: 25px;
    padding: 15px 30px;
  }
  .circle-slider {
    width: 364px;
    height: 364px;
    border-radius: 182px;
  }
  .inner-circle {
    width: 238px;
    height: 238px;
    border-radius: 119px;
  }
  .small-circle {
    height: 170px;
    width: 170px;
    border-radius: 85px;
  }
  .nav-logo {
    /* max-width: 145px; */
  }
  .title1 {
    /* font-size: 62px; */
  }
  .customer-cont > p {
    font-size: 18px;
  }
  .banner-cont > p {
    font-size: 16px;
  }
  .title2 {
    font-size: 50px;
  }
  .email-icon {
    left: 79%;
  }
  .about-cont{
    margin: 0 auto;
  }
  .about-img{
    margin: 10px auto;
  }
   .form-item{
    padding: 29px 170px 29px 20px;
    margin: 0 auto 10px;
  }
  .form-cont{
    text-align: center;
  }
  .form-col{
    margin: 0 auto;
  }
  .form-text{
    margin: 80px 0;
  }
  .form-text{
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .offcanvas {
    background: var(--background-color) !important;
    flex-direction: column;
  }
  .offcanvas > ul {
    flex-direction: column;
  }
  .email-icon {
    left: 71%;
  }
  .nav-btn {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0 auto 10px;
  }
  .primary-btn {
    margin: 0 auto 10px;
  }
  .navbar-toggler {
    background: var(--text-color);
  }
  nav {
    background: none;
    backdrop-filter: none;
    border-radius: 0;
    padding: 0;
  }
  .offcanvas-header {
    margin-left: auto;
    font-size: 1.4rem;
  }
  .footer-cont {
    margin: 0 auto;
    max-width: 103px;
  }
  .footer-main-cont {
    margin: 0 auto;
  }
  .footer-sub-cont {
    max-width: 353px;
    margin: 0 auto;
  }
  .our-card{
    margin: 0 auto 10px;
  }
  .card{
    margin: 0 auto 15px;
  }
  .statistics-header{
    margin: 0 auto;
  }
  .statistics-cont{
    max-width: 550px;
    margin: 0 auto;
  }
  .work-sec .title2 {
    font-size: 34px;
  }

  .work-sec p {
    font-size: 17px;
  }
  .work-header>.title4::before{
    right: 60%;
    top: 50%;
    transform: translate(8px, -60%);
}
.build-img{
  margin: 0 auto;
}
.build-cont{
  margin: 0 auto;
  text-align: center;
}
.build-cont>.title5{
  text-align: center;
}
.about-cont{
  text-align: center;
}
.about-cont>.title4::before{
  right: 58%;
}
.title2{
  font-size: 45px;
}
.statistics-header{
  text-align: center;
}
.statistics-header>.title4::before{
  right: 60%
  ;
}
.offcanvas-header{
  color: var(--primary-color);
}
.title1 {
    font-size: 60px;
  }
  .banner-cont > p {
    font-size: 17px;
  }
  .form-text{
    width: 950px;
    margin: 100px auto;
  }
  .our-col{
    margin: 0 auto;
  }
}
@media screen and (max-width:992px){
  .form-text{
    width: 700px;
  }
}
@media screen and (max-width:768px){
  .form-text{
    width: 550px;
  }
}
@media screen and (max-width:576px){
  .form-text{
    width: 400px;
  }
  .card-title{
    font-size: 20px;
  }
  .card-text{
    font-size: 16px;
  }
}
@media screen and (max-width:480px){
  .form-text{
    width: 325px;
  }
  .form-item{
    padding: 22px 100px 22px 20px;
  }
  .card-title{
    font-size: 16px;
  }
  .card-text{
    font-size: 12px;
  }
}